*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #151312;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

#header{
   
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px; 
    display: flex;
}

#middle{
    display: flex;
    background-color: #272626c2;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
    width: 200px;
    height: 35px;
}

#container{
   
    
    display: flex;
    
    height: 550px;
    justify-content: space-between;
    align-items: stretch;
}

.icons{
    cursor: pointer;
    
}



p{
    border-radius: 4px;
    width: 60px;
    margin-top: 20px;
    background-color: #262525;
    color: rgba(255, 255, 255, 0.706);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropDown{
    width:30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

.dropDown p{
    position:absolute;
    top:20px;
    left:50%;

    transform:translateX(-50%) translateY(-10px);

    border-radius:4px;
    width:60px;
    padding:4px;

    background-color:#262525;
    color:rgba(255,255,255,0.706);

    display:flex;
    justify-content:center;
    align-items:center;

    opacity:0;
   

    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.dropDown:hover p{
    opacity:1;
    visibility:visible;

    transform:translateX(-50%) translateY(0);
}

#container > div:first-child{
    flex:4;
    
}

/* 70% */
#container > div:last-child{
    flex:6;
    
}

#second-card{
    height: 100%;
    
     overflow-y:auto;

    scrollbar-width:none;
}

.tagline{
    font-family:'Poppins', sans-serif;
    font-size:22px;
    font-weight:600;
    color:#6f6f6f;
    text-align:center;
    line-height:1.1;
}

/* mobile */
@media (max-width:840px){

    #container{
        flex-direction:column;
    }

    #card{
        width: 100%;
    }
    
   
    

}

@media (max-width:1106px){

    .tagline{
        font-size: 16px;
    }

    

}

#name-tag{
    font-family:'Poppins', sans-serif;font-size:48px;font-weight:800;color:black;line-height:1.1;
}

@media (max-width:400px) {
    #name-tag{
        font-size: 32px;
    }

    .tagline{
        font-size: 14px;
    }
}

@media (max-width:300px){

    .tagline{
        font-size: 12px;
    }

    

}


.heading1{
    font-family:'Poppins', sans-serif;

    font-size:80px;
    font-weight:900;

    color:#f5f5f5;

    letter-spacing:4px;
    line-height:0.9;

    text-transform:uppercase;
}

.heading2{
    font-family:'Poppins', sans-serif;

    font-size:80px;
    font-weight:900;

    color:#2f2d31;

    letter-spacing:4px;
    line-height:0.9;

    text-transform:uppercase;
}

#bio{
    font-family:'Poppins', sans-serif;

    font-size:22px;
    font-weight:400;

    color:#7a7277;

    line-height:1.4;

    max-width:720px;

    letter-spacing:0.5px;
}

#card svg:hover{
   
    transform:translateY(-10px);
     box-shadow:0 10px 20px rgba(0,0,0,0.3);
     border-radius: 10px;
}

#card svg{
    transition:0.3s;
}

#projects-container{
    width: 80%;
   
   
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}

.Projects{
    
    display: flex;
    
    transition:background-color 0.5s ease;
    padding: 10px;
    gap: 10px;

}

.Projects img{
    border-radius: 10px;
    max-height: 120px;
    width: auto;
    align-items: center;
}

.Projects a{
    
    text-decoration:none;
    color:inherit;
     

}

.project-heading1{
    font-family:'Poppins', sans-serif;

    font-size:30px;
    font-weight:900;

    color:#f5f5f5b6;

    letter-spacing:4px;
    line-height:0.9;

    text-transform:uppercase;
    text-decoration: none;
}

.project-heading2{
    font-family:'Poppins', sans-serif;

    font-size:30px;
    font-weight:900;

    color:#403f41;

    letter-spacing:4px;
    line-height:0.9;

    text-transform:uppercase;
}

.Projects:hover{
    background-color: rgba(128, 128, 128, 0.062);
    border-radius: 10px;

}
.arrow-icon{
    transition: 0.5s ease;
}

.Projects:hover .arrow-icon{
    transform:
    
    translate(10px, -10px);
}

.skill-icons{
    width: 300px;
    display: block;
    line-height: 0;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 20px;
    margin-top: 30px;
    width: 70%;
}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 16px;
    background: rgb(50, 49, 49);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    cursor: pointer;
    
}

.skill:hover{
    transform: translateY(-8px) scale(1.05);
}

.skill img{
    width: 60px;
    display: block;
}

#submit-div:hover{
    background-color: orangered;
}

#submit-div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 68, 0, 0.788);
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: #f5f5f5;
}


.form{
    width: 100%;
}

.name-mail-div{
    display: flex;
    width: 100%;
    
    
}

.feild{

    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;

    margin-left: 5px;
}

.feild div{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #6f6f6f;
}

.feild input{
    background-color: rgb(50, 49, 49);
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    
    border-style: none;
    caret-color: #f5f5f5;
}

input:focus{
    outline: 2px solid rgba(255, 68, 0, 0.788);
}

select{
    padding: 10px;
      outline: none;
    border: none;
    border-style: none;
    border-radius: 5px ;
    font-size: 16px;
    width: 100%;
     font-family: 'Poppins', sans-serif;
    color: #6f6f6f;
     background-color: rgb(50, 49, 49);
}

